@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "status.css";
@import "variables.css";

/* Componets */
@import "components/status.css";
@import "components/nav.css";
@import "components/screen-header.css";
@import "components/user.css";
@import "components/badge.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

body{
    font-family: 'Open Sans', sans-serif;
    color: #2e363e;
}

.main-screen{
    padding: 0px var(--horizontal-space);
}