#chat-screen{
    background-color: #abc1d1;
    height: 11000vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header{
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
}

#chat-screen .alt-header{
    z-index: 1;
}

.alt-header__column{
    width: 33%;
}

.alt-header__column:nth-child(2){
    text-align: center;
}

.alt-header__column:last-child{
    display: flex;
    justify-content: flex-end;
}

.alt-header__column span:last-child{
    margin-left: 15px;
}

.main-chat{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.chat__timestamp{
    background-color: #92a4b2;
    color:whitesmoke;
    padding: 15px 15px;
    font-size: 14px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.message-row img{
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 10px;
}

.message-row{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.message_author{
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
}

.message__time{
    font-size: 13px;
}
.message__bubble{
    background-color: white;
    padding: 12px 13px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 8px;
}

.message__info{
    display: flex;
    align-items: flex-end;
}

.message_author,
.message__time{
    opacity: 0.9;
    font-size: 14px;
}

.message-row--own{
    justify-content: flex-end;
}

.message-row--own .message__bubble{
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 8px;
}

.message-row--own .message__info{
    flex-direction: row-reverse;
}


