.badge{
    background-color: tomato;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    font-weight: 600;
}

.header-badge{
    position: relative;
    display: block;
    left: 70px;
    bottom: 25px;
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
