.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list{
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
}

.nav__link{
    position: relative;
    
}

.nav__number{
    position: absolute;
    left: 13px;
    bottom: 15px;
}

.nav__search{
    position: absolute;
    background-color: tomato;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 30px;
    bottom: 20px;

}